

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    background-color: #fbfbfb;
    margin: 0;
    min-width: 750px;
}


.heading {
    font-family: 'Caveat';
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    background-color: #4662AE;
    align-items: center;
    box-shadow: 10px 10px 10px #858484;
    height: 90px;
    width: 100%;
    position: relative;
    min-width: 100%;
}

.heading-link {
    text-decoration: none;
    color: white;
    font-family: 'Caveat';
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.heading:nth-child(1) {
    color: white;
}

.left-heading {
    display: flex;;
    flex-shrink: 0;
}

.right-heading {
    display: flex;
    padding: 15px;
    gap: 20px;
    flex-wrap: 1;
}

button {
    box-shadow: 2px 2px 10px #C8D4FA;
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

button:hover {
    cursor: pointer;
    opacity: .7;
    animation-delay: .2;
}

button:active {
    opacity:.5;
    animation-delay: .2;
}

.header-button {
    padding: 15px;
    font-size: 14px;
    border-radius: 50%;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-shrink: 1;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border-style: solid;
    border-width: 5px;
    border-color: #4862AE;
    box-shadow: 0px 7px 42px 0px rgba(0, 0, 0,0.85);
}

img:hover {
    transform: scale(1.5);
    transition-duration: .5s;
}

.img-text {
    position: absolute;
    top: 430px;
    background-color: #857c7c;
    font-size: 20px;
    color: #212636;
    font-weight: bold;
}

.sidebar {
    background-color: #C8D4FA;
    width: 180px;
    box-shadow: 10px 10px 10px #858484;
    text-align: center;
    margin-right: auto;
    position: relative;
    flex-shrink: 0;
}


ul {
    padding-left: 0;
}

li 
{
    list-style-type: none;
    margin-bottom: 20px;
    font-size: 20px;
    margin-top: 30px;
}

p 
{
    margin-left: 20px
}

.summary-container {
    display: flex;
    background-color: #C8D4FA;
    height: stretch;
    width: 100%;
    align-items: center;
    flex-direction: column;
    flex-shrink: 1;
    flex-wrap: wrap;
}

.summary-bar {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    color: white;
    flex: 1;
    width: 100%
}

.summary-paragraph {
    margin-top: 18%;
    color: black;
    font-size: 30px;
}

.link-bar {
    background-image: url("../images/sakuratree.gif");
    background-repeat: no-repeat;
    background-size: 100% 700px;
    flex: 2; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: auto;
    flex-wrap: wrap;
    gap: 20px;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
}



.event-bar {
    flex: 1; 
    width: 100%;
}

.footer {
    position: relative;
    height: 30px;
    background-color: #4662AE;
    display: flex;
}


