p {
    color: red;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    background-color: #fbfbfb;
    margin: 0;
    min-width: 750px;
}


.heading {
    font-family: 'Caveat';
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    background-color: #4662AE;
    align-items: center;
    box-shadow: 10px 10px 10px #858484;
    height: 90px;
    width: 100%;
    position: relative;
    min-width: 100%;
}

.heading:nth-child(1) {
    color: white;
}

.left-heading {
    display: flex;;
    flex-shrink: 0;
}

.right-heading {
    display: flex;
    padding: 15px;
    gap: 8px;
    flex-wrap: 1;
}

.header-button {
    padding: 15px;
    font-size: 14px;
    border-radius: 50%;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-shrink: 1;
}

.sidebar {
    background-color: #C8D4FA;
    width: 150px;
    box-shadow: 10px 10px 10px #858484;
    text-align: center;
    position: relative;
    flex-shrink: 0;
}

li 
{
    list-style-type: none;
    margin-bottom: 20px;
    font-size: 20px;
}

p 
{
    margin-left: 20px
}

.summary-container {
    display: flex;
    background-color: #C8D4FA;
    height: stretch;
    width: 100%;
    align-items: center;
    flex-direction: column;
    flex-shrink: 1;
    flex-wrap: wrap;
}

.summary-bar {
    color: white;
    flex: 1;
    width: 100%
}

.link-bar {
    background-image: url("../images/sakuratree.gif");
    background-repeat: no-repeat;
    background-size: 100% 700px;
    flex: 2; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: auto;
    flex-wrap: wrap;
    gap: 20px;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: yellow;
}

.event-bar {
    flex: 1; 
    width: 100%;
}

.footer {
    position: relative;
    height: 30px;
    background-color: #4662AE;
    display: flex;
}


